.atm {
    width: 40px; 
    height: 25px;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 1px;
    box-shadow: 5px 5px 3px #888888;
    font-size: 10px;
    z-index: -1;
}

.atm>p {
    font-size: 10px;
    font-weight: bold;
    margin: 0px 0px 0px 7px;
    z-index: -1;
}