<div class="card" [ngStyle]="{'overflow':'hidden'}">
    <div class="card-content">
      <button mat-raised-button class="btn-action" *ngIf="viewType=='default'"
          (click)="viewType='building';sendAction('buildingView');">
          <div class="txt-action">Edit Building
            <i class="fa fa-building-o"></i>
          </div>
      </button>
      <button mat-raised-button class="btn-action" *ngIf="viewType=='default'"
        (click)="viewType='equipment'">
        <div class="txt-action">Edit Item
          <i class="fa fa-arrows"></i>
        </div>
      </button>
      <button mat-raised-button class="btn-action" *ngIf="viewType!='default'"
          (click)="viewType='default';sendAction('cancel')">
          <div class="txt-action">Cancel&nbsp;
            <i class="fa fa-undo"></i>
          </div>
      </button>
      <button mat-raised-button class="btn-action" *ngIf="viewType!='default'"
          (click)="viewType='default';sendAction('save')">
          <div class="txt-action">Save
            <i class="fa fa-floppy-o"></i>
          </div>
      </button>
    </div>


    <div [ngStyle]="{'padding-left':8+'px', 'padding-right':8+'px',
      'padding-bottom':8+'px','padding-top':5+'px'}">
      <div  class="card-content card-shdw" [ngStyle]="{'padding-left':5+'px', 'padding-right':5+'px',
            'padding-bottom':5+'px','padding-top':4+'px'}">


              <div id="container">
                  <mat-spinner *ngIf="loading" [color]="'warn'" style="margin:17vh auto;"></mat-spinner>
                <div class="container-fluid">

                      <div *ngIf="viewType == 'equipment' || viewType == 'default'">
                          <div *ngIf="ac then acTemplate"></div>
                          <div *ngIf="chiller then chillerTemplate"></div>
                          <div *ngIf="pump then pumpTemplate"></div>
                          <div *ngIf="temperature then temperatureTemplate"></div>
                          <div *ngIf="lamp then lampTemplate"></div>
                          <div *ngIf="lock then lockTemplate"></div>
                      </div>

                      <div *ngIf="viewType == 'building' || viewType == 'default'">
                          <div *ngIf="atm then atmTemplate"></div>
                          <div *ngIf="door then doorTemplate"></div>
                          <div *ngIf="cashier then cashierTemplate"></div>
                          <div *ngIf="rack then rackTemplate"></div>
                      </div>

                  </div>
              </div>

          </div>
    </div>
  </div>


    <!-- BUILDING -->
    <ng-template #atmTemplate>
      <span *ngFor="let list of atm"
          [ng2-draggable]  = "viewType=='building'"
          [style.position] = "'absolute'"
          [style.left]     = "convert(list.left) + 'px'"
          [style.top]      = "list.top + 'px'"
          [id]             = 'list.id'
          (click)          = "sendAction(viewType,list.id)"
          (dblclick)       = "remove('removeBuilding',list.id,'atm')">
          <app-widget-atm [label]="list.label"></app-widget-atm>
      </span>
    </ng-template>

    <ng-template #doorTemplate>
      <span *ngFor="let list of door"
          [ng2-draggable]  = "viewType=='building'"
          [style.position] = "'absolute'"
          [style.left]     = "convert(list.left) + 'px'"
          [style.top]      = "list.top + 'px'"
          [id]             = "list.id"
          (click)          = "sendAction(viewType,list.id)"
          (dblclick)       = "remove('removeBuilding',list.id,'door')">
           <app-widget-door [label]="list.label" [type]="list.type"></app-widget-door>
      </span>
    </ng-template>

    <ng-template #cashierTemplate>
      <span *ngFor="let list of cashier"
          [ng2-draggable]   = "viewType=='building'"
          [style.position]  = "'absolute'"
          [style.left]      = "convert(list.left) + 'px'"
          [style.top]       = "list.top + 'px'"
          [id]              = 'list.id'
          (click)           = "sendAction(viewType,list.id)"
          (dblclick)        = "remove('removeBuilding',list.id,'cashier')">
            <app-widget-cashier [label]="list.label"></app-widget-cashier>
      </span>
    </ng-template>

    <ng-template #rackTemplate>
      <span *ngFor="let list of rack"
          [ng2-draggable]   = "viewType=='building'"
          [style.position]  = "'absolute'"
          [style.left]      = "convert(list.left) + 'px'"
          [style.top]       = "list.top + 'px'"
          [id]              = 'list.id'
          (click)           = "sendAction(viewType,list.id)"
          (dblclick)        = "remove('removeBuilding',list.id,'rack')">
            <app-widget-rack [label]="list.label" [type]="list.type"></app-widget-rack>
      </span>
    </ng-template>





    <!-- EQUIPMENT -->
    <ng-template #acTemplate>
      <span *ngFor="let list of ac"
          [ng2-draggable]  = "viewType=='equipment'"
          [style.position] = "'absolute'"
          [style.top]      = "list.top + 'px'"
          [style.left]     = "convert(list.left) + 'px'"
          [id]             = 'list.id'
          (click)          = "sendAction(viewType,list.id)">
            <app-widget-ac [label]="list.label"  [temperature]="list.temperature"
            [power]="list.power" [severity]="list.severity">
            </app-widget-ac>
       </span>
    </ng-template>

    <ng-template #chillerTemplate>
      <span *ngFor = "let list of chiller"
          [ng2-draggable]  = "viewType=='equipment'"
          [style.position] = "'absolute'"
          [style.top]      = "list.top + 'px'"
          [style.left]     = "convert(list.left) + 'px'"
          [id]             = "list.id"
          (click)="sendAction(viewType,list.id)">
          <app-widget-chiller [label]="list.label" [temp_material]="list.temp_material"
            [temp_air]="list.temp_air" [power]="list.power">
          </app-widget-chiller>
       </span>
    </ng-template>

    <ng-template #pumpTemplate>
      <span *ngFor="let list of pump"
          [ng2-draggable]  = "viewType=='equipment'"
          [style.position] = "'absolute'"
          [style.top]      = "list.top + 'px'"
          [style.left]     = "convert(list.left) + 'px'"
          [id]             = "list.id"
          (click)="sendAction(viewType,list.id)">
          <app-widget-pump [label]="list.label" [lifeTime]="list.lifeTime" [power]="list.power">
          </app-widget-pump>
       </span>
    </ng-template>

    <ng-template #temperatureTemplate>
      <span *ngFor="let list of temperature"
          [ng2-draggable]="viewType=='equipment'"
          [style.left] = "convert(list.left) + 'px'"
          [style.top]  = "list.top + 'px'"
          [style.position] = "'absolute'"
          [id]='list.id'
          (click)="sendAction(viewType,list.id)">
          <app-widget-temperature
            [label]="list.label" [humidity]="list.humidity"
            [temperature]="list.temperature" [power]="list.power">
          </app-widget-temperature>
       </span>
    </ng-template>

  <ng-template #lampTemplate>
      <span *ngFor="let list of lamp"
          [ng2-draggable]="viewType=='equipment'"
          [style.left] = "convert(list.left) + 'px'"
          [style.top]  = "list.top + 'px'"
          [style.position] = "'absolute'"
          [id]='list.id'
          (click)="sendAction(viewType,list.id)">
          <app-widget-lamp [label]="list.label" [power]="list.power"></app-widget-lamp>
     </span>
   </ng-template>

   <ng-template #lockTemplate>
      <span *ngFor="let list of lock"
         [ng2-draggable]="viewType=='equipment'"
         [style.left] = "convert(list.left) + 'px'"
         [style.top]  = "list.top + 'px'"
         [style.position] = "'absolute'"
         [id]='list.id'
         (click)="sendAction(viewType,list.id)">
         <app-widget-lock [label]="list.label" [severity]="list.severity"></app-widget-lock>
      </span>
   </ng-template>
