<h2 mat-dialog-title>Form Worker</h2>
<form [formGroup]="form">
  <mat-dialog-content>

    <mat-grid-list cols="2" rowHeight="60px">

      <mat-grid-tile>
        <mat-form-field>
          <input type="number" matInput placeholder="IMEI" formControlName="username" [errorStateMatcher]="matcher" autocomplete="off">
          <mat-error *ngIf="form.get('username').hasError('required')">
            I-MEI is required!
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input type="email" matInput placeholder="E-Mail" formControlName="email" [errorStateMatcher]="matcher" autocomplete="off">
          <mat-error *ngIf="form.get('email').hasError('required')">
            E-Mail is required!
          </mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">
            E-Mail is not valid
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher" autocomplete="off">
          <mat-error *ngIf="form.get('name').hasError('required')">
            Name is required!
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="Phone Number" formControlName="phone" [errorStateMatcher]="matcher" autocomplete="off">
          <mat-error *ngIf="form.get('phone').hasError('required')">
            Phone is required!
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="Company" formControlName="company" [errorStateMatcher]="matcher" autocomplete="off">
          <mat-error *ngIf="form.get('company').hasError('required')">
            Company is required!
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="button-row" style="width:100%;">
          <button mat-button color="primary" mat-mini-fab style="margin-left:10px;" (click)="imgFileInput.click()">
            <mat-icon>add_a_photo</mat-icon>
          </button>
          <input type="file" ng2FileSelect [uploader]="profile" #imgFileInput (change)="onSetProfile()" />

          <mat-form-field style="width:100%;margin-left:10px;">
            <input matInput type="text" placeholder="Profile" autocomplete="off" formControlName="profile" [errorStateMatcher]="matcher">
            <mat-error *ngIf="form.get('profile').hasError('required')">
              Profile is required!
            </mat-error>
            <mat-error *ngIf="form.get('profile').hasError('pattern')">
              This is not an image file
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-dialog-content>
  <mat-dialog-actions class="pull-right">
    <button mat-raised-button color="warn" (click)="form.reset()">
      <mat-icon>delete_forever</mat-icon>&nbsp;Clear
    </button>
    <button mat-raised-button [disabled]="form.invalid" [mat-dialog-close]="form.getRawValue()" cdkFocusInitial color="primary"
      (click)="onSave();">
      <mat-icon>save_alt</mat-icon>&nbsp;Save
    </button>
  </mat-dialog-actions>
</form>
