<div class="widget widget-stats">
  <div class="widget-header" data-background-color="blue">
		<i class="fa fa-tint"></i>
	</div>
	<div class="widget-content">
	    <p class="category">{{loading ? 'Loading' : label}}</p>
      <p class="text-double">
        <span class="min">{{min}}<span class="unit">%</span></span>&nbsp;
        <span class="max">{{max}}<span class="unit">%</span></span>
      </p>
	</div>
	 <div class="widget-footer">
        <!-- <div class="stats">
           <i class="fa fa-calendar"></i> 1 month ago
        </div> -->
    </div>
</div>
