.chiller{
    width: 85px;
    height: 0px;
    border-bottom: 42px solid ;
	position: absolute;
	z-index: 1;
}
.chiller > img {
	height: auto;
	width: 35px;
	top: 4px;
	left: 4px;
	position: absolute;
	z-index: 1;
}

.valueChiller {
	color: black;
	font-weight: bold;
	font-size: 13px;
	font-family: "Arial", "Arial Bold", Gadget, sans-serif;
	z-index: 1;
}

.lamp{
    height: 0px;
    width: 0px;
    border: 6px solid; 
    border-radius: 60px;
    margin: -41px 0px 0px 70px;
    position: absolute;
    left: -4px;
	top: 46px;
	z-index: 1;
}

.temp_air {
	position: absolute;
	top: 19px;
	left: 64px;
	z-index: 1;
}

.temp_material {
	position: absolute;
	left:44px;
	top:1px;
	z-index: 1;
}

.temp_setting {
	position: absolute;
	left: 44px;
	top: 19px;
	z-index: 1;
} 