<div class="chiller" matTooltip="{{label}}" [ngStyle]="{'color':color}">
	<img [src]="imageUrl" aria-hidden="true">
	<div class="valueChiller">
		<div class="temp_material">{{power == false ? 0 : temp_material}}</div>
		<div class="lamp" [ngStyle]="{'color':lamp}"></div>
		<div class="temp_air">{{power == false ? 0 : temp_air}}</div>
		<div class="temp_setting">{{power == false ? 0 : temp_setting}}</div>
	</div>
</div>
