<h6 mat-dialog-title class="title-header" style="font-style: normal;">Image View</h6>
<mat-dialog-content>
    <img [src]="data" default="../../../../assets/img/none.jpg"
    class="img-thumbnail" width="500px;">
</mat-dialog-content>
