<div class="example-container">

<app-error-handler #error></app-error-handler>
<div class="loading" *ngIf="loading;else pageSite"></div>

<ng-template #pageSite>
    <div class="row" style="margin-top:-30px;">
        <div class="col-md-2">
            <app-widget-template1
                [label]="widget_total.label"
                [value]="widget_total.value"
                [unit]="widget_total.unit"
                [icon]="widget_total.icon">
            </app-widget-template1>
        </div>
        <div class="col-md-2">
            <app-widget-template1
                [label]="widget_ac.label"
                [value]="widget_ac.value"
                [unit]="widget_ac.unit"
                [icon]="widget_ac.icon">
            </app-widget-template1>
        </div>
        <div class="col-md-2">
            <app-widget-template1
                [label]="widget_chiller.label"
                [value]="widget_chiller.value"
                [unit]="widget_chiller.unit"
                [icon]="widget_chiller.icon">
            </app-widget-template1>
        </div>
        <div class="col-md-2">
            <app-widget-template1
                [label]="widget_other.label"
                [value]="widget_other.value"
                [unit]="widget_other.unit"
                [icon]="widget_other.icon">
            </app-widget-template1>
        </div>
        <div class="col-md-2">
            <app-widget-template2
                [label]="widget_temperature.label"
                [unit]="widget_temperature.unit"
                [icon]="widget_temperature.icon"
                [min]="widget_temperature.min"
                [max]="widget_temperature.max">
            </app-widget-template2>
        </div>
        <div class="col-md-2">
            <app-widget-template2
                [label]="widget_humidity.label"
                [unit]="widget_humidity.unit"
                [icon]="widget_humidity.icon"
                [min]="widget_humidity.min"
                [max]="widget_humidity.max">
            </app-widget-template2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div *ngIf="items.buildingView;else barChart">
                <app-map-building (action)="createBuilding($event)"></app-map-building>
            </div>

            <ng-template #barChart>
                <app-bar-chart
                    [chartType] = "barchart.chartType"
                    [labels]    = "barchart.labels"
                    [datasets]  = "barchart.datasets"
                    (type)      = "barchart.chartType=$event;getBarChart();">
                </app-bar-chart>
            </ng-template>

        </div>
        <div class="col-md-6">
            <app-map-area-v2
                [loading]     = "items.loading"
                [ac]          = "items.ac"
                [chiller]     = "items.chiller"
                [pump]        = "items.pump"
                [temperature] = "items.temperature"
                [lamp]        = "items.lamp"
                [lock]        = "items.lock"
                [door]        = "items.door"
                [rack]        = "items.rack"
                [atm]         = "items.atm"
                [cashier]     = "items.cashier"
                (action)      = "mapAreaAction($event)"
            ></app-map-area-v2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-line-chart-v2 #chart
                [chartType] = "linechart.chartType"
                [perfType]  = "linechart.perfType"
                [series]    = "linechart.series"
                [loading]   = "linechart.loading"
                (chartTypeChanges) = "linechart.chartType=$event;getLineChart();"
                (perfTypeChanges)  = "linechart.perfType=$event;getLineChart();"
            ></app-line-chart-v2>
        </div>
    </div>

</ng-template>
</div>
