
<div class="card-chart">
  <div class="card-header card-header-icon" data-background-color="red">
      <i class="fa fa-bar-chart"></i>
  </div>
  <div class="card-content">
      <h4 class="card-title">
          <mat-grid-list cols="4" rowHeight="60px" style="margin-top:-20px;">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field floatPlaceholder="never">
                    <mat-select [(ngModel)]="timeType" (ngModelChange)="renderChart();">
                        <mat-option *ngFor="let type of timeTypes" [value]="type.value">
                            {{type.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
              </mat-grid-tile>
          </mat-grid-list>
      </h4>
      <div class="toolbar"></div>
        <div style="height:290px;text-align:center;" *ngIf="!loading">
            <canvas baseChart
                [datasets]="datasets"
                [labels]="labels"
                [options]="options"
                [legend]="true"
                [chartType]="'bar'"
            ></canvas>
        </div>
        <div *ngIf="loading" style="padding-top:60px;height:290px;">
           <mat-spinner [color]="'warn'" style="margin:auto;"></mat-spinner>
        </div>
  </div>
</div>

