.widgets-header {
	width: 227px;
	height: auto;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	box-shadow: 0 11px 23px -12px;
}

.panel-heading{
	border-bottom: 1px solid #ddd;
	/*background-color: #f44336;
	color: white;*/
	font-weight: 700px;
}

.panel-body ngx-gauge{
	position: relative;
	left: 29px;
}

.panel-body{
	height: 203px;
}

.panel-body .title{
	font-size: 13px;
	text-align: center;
	position: relative;
	left: -1px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
}

.panel-body .icon{
	text-align: center;
	position: relative;
	left: -1px;
	line-height: 50px;
}

.panel-footer{
	height: 50px;
}

.textValue{
	font-size: 13px;
	position :  relative;
	left: 0px;
	top : 4px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.icon-footer1>#icon0{
	font-size: 19px;
	position: absolute;
	margin-top: -4px;
	left: 123px;
	cursor: pointer;
}

.icon-footer2>#icon0{
	font-size: 19px;
	position: absolute;
	margin-top: -4px;
	left: 74px;
	cursor: pointer;
}

.icon-footer2>#icon1{
	font-size: 19px;
	position: absolute;
	margin-top: -4px;
	left: 166px;
	cursor: pointer;
}

.icon-footer3>#icon0{
	font-size: 19px;
	position: absolute;
	margin-top: -4px;
	left: 50px;
	cursor: pointer;
}

.icon-footer3>#icon1{
	font-size: 19px;
	position: absolute;
	margin-top: -4px;
	left: 122px;
	cursor: pointer;
}
.icon-footer3>#icon2{
	font-size: 19px;
	position: absolute;
	margin-top: -4px;
	left: 191px;
	cursor: pointer;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 48px;
    left: -2px;
    font-size: 24px;
    cursor: pointer;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 48px;
    right: -3px;
    font-size: 24px;
    cursor: pointer;
}

.iconSet{
	position: absolute;
	left: 189px;
	margin-top: -30px;
	font-size: 13px;
	cursor: pointer;
}

.iconSet .minus{
	position: absolute;
	left: 0px;
	margin-top: 0px;
}

.iconSet .plus{
	position: absolute;
	left: 0px;
	margin-top: 0px;
}