<div class="panel widgets-header">
    <div class="panel-heading">
        <span>{{showTitle(label)}}</span>
        <span [ngStyle]="{'left':195+'px','position':'absolute'}">
        <i matTooltip="setting" class="fa fa-pencil" aria-hidden="true" 
        [ngStyle]="{'font-size':12+'px', 'cursor':'pointer'}" 
        (click)="action.emit({actionType:'edit',id:id})"></i>
        &nbsp;
        <i matTooltip="close" class="fa fa-times" aria-hidden="true" 
        [ngStyle]="{'cursor':'pointer','font-size':14+'px'}" 
        (click)="action.emit({actionType:'remove',id:id})"></i>
        </span>
    </div>
    
    <div class="panel-body">
        <mat-spinner *ngIf="loading" color="warn" style="margin:40px auto;"></mat-spinner>
        <ngx-gauge style="margin-top:30px;" *ngIf="!loading"
            [type]   = "'arch'"
            [cap]    = "'round'"  
            [value]  = "gauge.value" 
            [label]  = "gauge.type"  
            [append] = "unit[gauge.type]"
            [size]   = "135"
            [thick]  = "7"
            [max]    = "treshold[gauge.type]"
            [foregroundColor]="color[statusGauge]"
            [duration] = 100>
        </ngx-gauge>
    </div>

    <div class="panel-footer" [style.padding]=0>
        <mat-grid-list cols="3" rowHeight=50px *ngIf="!loading">
            <mat-grid-tile *ngFor="let info of informations">
                <button  mat-icon-button class="icon" [matTooltip]="buttons[info.type].label" [style.font-size]="'14px'">
                    <i [class]="buttons[info.type].icon" [style.color]="buttons[info.type].color"></i>&nbsp;
                    {{info.value}} 
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    
</div>