.widgets-header {
	width: 198px;
    height: auto;
    font-size: 13px;
    font-family: Verdana, sans-serif;
    border: solid 1px gray;
    position: relative;
    left: 27px;
    top: 0px;
}

.panel-heading{
	border-bottom: 1px solid #ddd;
	/*background-color: #f44336;
	color: white;*/
	font-weight: 700px;
}

.panel-body ngx-gauge{
	position: relative;
	left: 20px;
}

.panel-body{
	height: 182px;
}

.panel-body .title{
	font-size: 13px;
	text-align: center;
	position: relative;
	left: -1px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
}

.panel-body .icon{
	text-align: center;
	position: relative;
	left: -1px;
	line-height: 50px;
}

.panel-footer{
	height: 50px;
	/*background-color: #f44336;
	color: white;*/
}

.textValue{
	font-size: 13px;
	position :  relative;
	left: -1px;
	top : 4px;
	font-weight: bold;
	text-align: center;
}

.icon-footer1>#icon0{
	font-size: 18px;
	position: absolute;
	margin-top: -2px;
	left: 47%;
	cursor: pointer;
}

.icon-footer2>#icon0{
	font-size: 18px;
	position: absolute;
	margin-top: -2px;
	left: 25%;
	cursor: pointer;
}

.icon-footer2>#icon1{
	font-size: 18px;
	position: absolute;
	margin-top: -2px;
	left: 67%;
	cursor: pointer;
}

.icon-footer3>#icon0{
	font-size: 18px;
	position: absolute;
	margin-top: -2px;
	left: 12%;
	cursor: pointer;
}

.icon-footer3>#icon1{
	font-size: 18px;
	position: absolute;
	margin-top: -2px;
	left: 47%;
	cursor: pointer;
}
.icon-footer3>#icon2{
	font-size: 18px;
	position: absolute;
	margin-top: -2px;
	left: 81%;
	cursor: pointer;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 51px;
    left: -2px;
    font-size: 24px;
    cursor: pointer;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 51px;
    right: -3px;
    font-size: 24px;
    cursor: pointer;
}

.iconSet{
	position: absolute;
	left: 80%;
	margin-top: -30px;
	font-size: 15px;
	cursor: pointer;
}

.footer{
	position: relative;
    left: 30%;
    margin-top: -2px;
    font-size: 12px;
}

span.header span{
	position: relative;
    left: 3px;
    top: -9px;
    font-size: 14px;
	font-weight: bold;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.icon {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 19px;
}