<h2 mat-dialog-title>Setting Widget</h2>
<mat-dialog-content>
	<div class="panel widgets-header">
		<div class="panel-heading">
			<span>{{showLabel(data.label)}}</span>
		</div>

		<div class="panel-body" style="font-family: 'Nanum Gothic', sans-serif;">
			<ngx-carousel [inputs]="carousel" (carouselLoad)="data.configWidget.view = views[$event].label">
				<ngx-item NgxCarouselItem style="margin-bottom:-33px;" *ngFor="let view of views">
					<ngx-gauge 
						[type]       = "'arch'" 
					    [value]      = 0   
						[size]       = 130
						[thick]      = 7
						[max]        = 100
						[append]     = view.unit
						[label]      = view.label
						[thresholds] ="threshold"
						[cap]        = "'round'"
					>
					</ngx-gauge>
				</ngx-item>
				<i NgxCarouselNext class="fa fa-angle-double-right rightRs" aria-hidden="true"></i>
				<i NgxCarouselPrev class="fa fa-angle-double-left leftRs" aria-hidden="true"></i>
			</ngx-carousel>
			<div style="margin-top:-20px;margin-left:-5px;">	
				<mat-form-field>
					<mat-select [multiple]="true"  placeholder="Informations"
					[(ngModel)]="data.configWidget.informations" [ngModelOptions]="{standalone: true}">
						<mat-option  *ngFor="let list of informations" 
							[value]="list.label">
								<i [class]="list.icon" [style.color]="list.color"></i>
								&nbsp;{{list.label}} 
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="panel-footer" [style.padding]=0>
			<mat-grid-list cols="3" rowHeight=50px>
				<mat-grid-tile *ngFor="let key of data.configWidget.informations">
					<button  mat-icon-button class="icon" [matTooltip]="buttons[key].label">
						<i [class]="buttons[key].icon" [style.color]="buttons[key].color"></i>&nbsp;0 
					</button>
				</mat-grid-tile>
			</mat-grid-list>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions class="pull-right">
	<button mat-raised-button color="warn"    [mat-dialog-close]="'cancel'">Cancel</button>
	<button [mat-dialog-close]="{actionType:data.actionType,config:data.configWidget,id:data.id}"
	mat-raised-button color="primary">save</button>
</mat-dialog-actions> 
