<div class="card-chart">
    <div class="card-header card-header-icon" data-background-color="red">
      <i [class]="icons[perfType]" style="font-size:30px;"></i>
    </div>
    <div class="card-content" style="height:420px;">
      <h4 class="card-title" style="margin-top:-50px;">
          <div class="row">
              <div class="col-md-2">
                  <mat-form-field>
                    <mat-select floatPlaceholder="never" name="chartType" [(ngModel)]="chartType"
                      (ngModelChange)="chartTypeChanges.emit($event)" [disabled]="perfType=='security'">
                      <mat-option *ngFor="let list of chartTypes" [value]="list.id">
                        {{ list.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-2">
                  <mat-form-field>
                    <mat-select floatPlaceholder="never" name="perfType" [(ngModel)]="perfType"
                      (ngModelChange)="perfTypeChanges.emit($event)">
                      <mat-option *ngFor="let list of perfTypes" [value]="list.id">
                        {{ list.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
          </div>
      </h4>
      <div class="toolbar"></div>
      <div>
        <mat-spinner *ngIf="loading" style="margin:150px auto;" [color]="'warn'"></mat-spinner>
        <div *ngIf="!loading" style="height:320px;" [chart]="chart"></div>
      </div>
    </div>
</div>
