<div class="col-lg-12">
	<div class="card">
	  	<div class="card-content">
		    <ul class="nav nav-tabs">
		    	<li *ngFor="let i of active" [ngClass]="{'active':i.active == 1}">
			    	<a style="position: relative;left: 20px;text-align:center" (click)="selectActive(i.label)">
			    		{{i.label}}
			    	</a>
		    	</li>
		    </ul>
		    <div *ngIf="navContent=='Door-1'  then door1"></div>
		    <div *ngIf="navContent=='Door-2'  then door2"></div>
		    <div *ngIf="navContent=='Rack'    then rack"></div>
		    <div *ngIf="navContent=='Cashier' then cashier"></div>
		    <div *ngIf="navContent=='Atm'     then atm"></div>
		</div>
	</div>
</div>



<ng-template #door1>
	<div class="textContent">Door 1</div>
    	<div [ngStyle]="{'position':'relative', 'left':108+'px', 'top':9+'px'}">
               <div class="btn-group">
                    <button type="button" class="btn-default" (click)="addBuilding('door-left1','Door1')">
						<div class="door1-left"></div>
					</button>
					
					<button type="button" class="btn-default" (click)="addBuilding('door-top1','Door1')">
						<div class="door1-top"></div>
					</button>
					
					<button type="button" class="btn-default" (click)="addBuilding('door-right1','Door1')">
						<div class="door1-right"></div>
					</button>

                    <button type="button" class="btn-default" (click)="addBuilding('door-bottom1','Door1')">
						<div class="door1-bottom"></div>
					</button>
              </div><br>
			<!-- <em class="text-muted" [ngStyle]="{'font-size':13+'px'}">please double tab to bottom</em> -->
    	</div>
</ng-template>

<ng-template #door2>
	<div class="textContent">Door 2</div>
    	<div [ngStyle]="{'position':'relative', 'left':78+'px', 'top':9+'px'}">
            <div class="btn-group" [ngStyle]="{'margin-right':-15+'%'}">
				<button type="button" class="btn-default" style="height: 75px;" 
					(click)="addBuilding('door-left2','Door2')">
					<div class="door-left" style="margin-top: -30px;">
						<div class="door-left1"></div>
					</div>
				</button>
				
				<button type="button" class="btn-default" style="height: 75px;width: 75px;" 
				(click)="addBuilding('door-top2','Door2')">
					<div class="door-top" style="margin-left: -5px;">
						<div class="door-top1"></div>
					</div>
				</button>
				
				<button type="button" class="btn-default" style="height: 75px;" 
				(click)="addBuilding('door-right2','Door2')">
					<div class="door-right" style="margin-top: -30px;">
						<div class="door-right1"></div>
					</div>
				</button>
				
				<button type="button" class="btn-default" style="height: 75px;width: 75px;" 
				(click)="addBuilding('door-bottom2','Door2')">
					<div class="door-bottom" style="margin-left: -5px;">
						<div class="door-bottom1"></div>
					</div>
				</button>

            </div><br>
    		<!-- <em class="text-muted" [ngStyle]="{'font-size':13+'px', 'position':'relative', 'left':41+'px'}">please double tap to bottom</em> -->
    	</div>
</ng-template>

<ng-template #cashier>
	<div class="textContent">Cashier</div>
    	<span [ngStyle]="{'position':'relative', 'left':175+'px', 'top':9+'px'}">
		    	<button type="button" class="btn-default btn-lg" [ngStyle]="{'margin-right':45+'%'}"
		    	(click)="addBuilding('cashier','Cashier')">
		    		<i class="fa fa-television" [ngStyle]="{'font-size':18+'px'}"></i>
		    	</button><br><br>
			<!-- <em class="text-muted" [ngStyle]="{'font-size':13+'px','position':'relative', 'left':-47+'px'}">please double tap to bottom</em> -->
		</span>
</ng-template>

<ng-template #rack>
	<div class="textContent">Rack</div>
    	<span [ngStyle]="{'position':'relative', 'left':73+'px', 'top':9+'px'}">
    		<div class="btn-group" [ngStyle]="{'margin-right':10+'%'}">
				<button type="button" class="btn-default btn-lg" style="width: 150px;height: 30px;" 
				(click)="addBuilding('rack5x1','Rack 5x1')">
					<p [ngStyle]="{'font-size':13+'px', 'margin-top':-5+'px'}">Rack 5X1</p>
				</button>
				
				<button type="button" class="btn-default btn-lg" style="width: 130px;height: 40px;" 
				(click)="addBuilding('rack5x2','Rack 5x2')">
					<p [ngStyle]="{'font-size':13+'px'}">Rack 5X2</p>
				</button>
				
				<button type="button" class="btn-default btn-lg rack2x2"
                (click)="addBuilding('rack2x2','Rack 2x2')">
					<p [ngStyle]="{'font-size':12+'px'}">Rack 2X2</p>
				</button>
            </div><br><br>
            <!-- <em class="text-muted" [ngStyle]="{'font-size':13+'px','position':'relative', 'left':47+'px'}">please double tap to bottom</em> -->
    	</span>
</ng-template>

<ng-template #atm>
	<div class="textContent">ATM</div>
    	<span [ngStyle]="{'position':'relative', 'left':175+'px', 'top':9+'px'}">
        	<button type="button" class="btn-default btn-lg"
        		(click)="addBuilding('atm','ATM')" 
				[ngStyle]="{'margin-right':45+'%'}">
				<div class="ATM">
					<div class="txtatm">ATM</div>
				</div>
			</button><br><br>
    	</span>
</ng-template>


<!-- <em class="text-muted" [ngStyle]="{'font-size':13+'px','position':'relative', 'left':-47+'px'}">please double tap to bottom</em> -->
