<div class="panel widget-provisioning col-sm-12">
  <h4 [style.color]="widgetEquipment[type]['color']">{{label}}</h4>
  <div class="title-address">
    <span>{{address}}</span>
  </div>
  <div class="row ui-event">
    <div class="col-sm-{{12/widgetEquipment[type]['eventObject'].length}}" *ngFor="let i of widgetEquipment[type]['eventObject']">
      <div class="event-icon">
        <button mat-icon-button [matTooltip]="'set '+i['name']" (click)="setProvisioningObject(
          {id:manageObjectId, command:i['name'], value:command[i['name']]})">
          <i style="font-size:20px;" [style.color]="i['color']" [class]="i['icon']">
            <span>{{command[i['name']]}}</span>
          </i>
        </button>
      </div>
    </div>
  </div>
  <div class="side-box" [style.background-color]="widgetEquipment[type]['color']">
    <img [src]="widgetEquipment[type]['icon']">
  </div>
</div>