.widget-provisioning{
    height: 155px;
    width:100%;
    display: block;
    background-color: #fff;
}

.widget-provisioning h4{
    font-size: 18px;
    font-weight:450;
}

.side-box {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 60px;
    color: #fff;
    font-size: 26px;
    border-radius: 0 0 0 100px;
    text-align: center;
}

.side-box img {
    position: relative;
    top: 6px;
    left: 7px;
}

.title-address{
    font-size: 11px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    font-weight: 450;
}

.ui-event{
    text-align: center;
}
.event-icon{
    padding-top: 5px;
}

.event-icon span{
    font-size:14px;
    font-weight:450;
    color: rgb(126, 124, 124);
}
