
<div [ngStyle]="{'position':'absolute'}" *ngIf="color == 'normal'; else alarm">
	<div [class]="set.css">
		<div [class]="set.css1"></div>
	</div>
</div>

<ng-template #alarm>
	<div [ngStyle]="{'position':'absolute'}">
		<div [class]="set.css+'-'+color">
			<div [class]="set.css1+'-'+color"></div>
		</div>
	</div>
</ng-template>



