
/*Door 2*/
.door-right {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 5px solid white;
    border-top: 3px solid;
    border-bottom-left-radius: 65px;
}

.door-right1 {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 1px solid;
    border-right: 5px solid white;
    border-top: 1px solid;
    border-top-left-radius: 65px;
    margin-top: 26px;
}

.door-top {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid;
    border-left: 3px solid;
    border-right: 1px solid;
    border-top: 5px solid white;
    border-bottom-right-radius: 65px;
}

.door-top1 {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 3px solid;
    border-top: 5px solid white;
    border-bottom-left-radius: 65px;
    margin-left: 26px;
    margin-top: -5px;
}

.door-left {
    width: 30px;
    height: 30px;
    border-left: 5px solid white;
    border-right: 1px solid;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-bottom-right-radius: 65px;
}

.door-left1 {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 5px solid white;
    border-right: 1px solid;
    border-top: 1px solid;
    border-top-right-radius: 65px;
    margin-top: 26px;
    margin-left: -5px;
}

.door-bottom {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 3px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-top-right-radius: 60px;
}

.door-bottom1 {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 1px solid;
    border-right: 3px solid;
    border-top: 1px solid;
    border-top-left-radius: 60px;
    margin-left: 26px;
}

/*Door 1*/
.door1-left {
    width: 25px;
    height: 25px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 3px solid white;
    border-bottom: 3px solid;
    border-top-right-radius: 60px;
    position: absolute;
}

.door1-bottom {
    width: 25px;
    height: 25px;
    border-right: 3px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px solid white;
    border-top-left-radius: 65px;
    position: absolute;
}

.door1-right {
    width: 25px;
    height: 25px;
    border-right: 3px solid white;
    border-top: 3px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-bottom-left-radius: 65px;
    position: fixed;
    position: absolute;
}

.door1-top {
    width: 25px;
    height: 25px;
    border-right: 3px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-top: 3px solid white;
    border-bottom-left-radius: 65px;
    position: absolute;
}

/*door-open*/
.door-right-open {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #19a9d5;
    border-left: 1px solid #19a9d5;
    border-right: 5px solid white;
    border-top: 3px solid;
    border-bottom-left-radius: 65px;
}

.door-right1-open {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 1px solid #19a9d5;
    border-right: 5px solid white;
    border-top: 1px solid #19a9d5;
    border-top-left-radius: 65px;
    margin-top: 26px;
}

.door-top-open {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #19a9d5;
    border-left: 3px solid;
    border-right: 1px solid #19a9d5;
    border-top: 5px solid white;
    border-bottom-right-radius: 65px;
}

.door-top1-open {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #19a9d5;
    border-left: 1px solid #19a9d5;
    border-right: 3px solid;
    border-top: 5px solid white;
    border-bottom-left-radius: 65px;
    margin-left: 26px;
    margin-top: -5px;
}

.door-left-open {
    width: 30px;
    height: 30px;
    border-left: 5px solid white;
    border-right: 1px solid #19a9d5;
    border-top: 3px solid;
    border-bottom: 1px solid #19a9d5;
    border-bottom-right-radius: 65px;
}

.door-left1-open {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 5px solid white;
    border-right: 1px solid #19a9d5;
    border-top: 1px solid #19a9d5;
    border-top-right-radius: 65px;
    margin-top: 26px;
    margin-left: -5px;
}

.door-bottom-open {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 3px solid;
    border-right: 1px solid #19a9d5;
    border-top: 1px solid #19a9d5;
    border-top-right-radius: 60px;
}

.door-bottom1-open {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 1px solid #19a9d5;
    border-right: 3px solid;
    border-top: 1px solid #19a9d5;
    border-top-left-radius: 60px;
    margin-left: 26px;
}

/*door alarm*/

.door-right-danger {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #f05050;
    border-left: 1px solid #f05050;
    border-right: 5px solid white;
    border-top: 3px solid;
    border-bottom-left-radius: 65px;
}

.door-right1-danger {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 1px solid #f05050;
    border-right: 5px solid white;
    border-top: 1px solid #f05050;
    border-top-left-radius: 65px;
    margin-top: 26px;
}

.door-top-danger {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #f05050;
    border-left: 3px solid;
    border-right: 1px solid #f05050;
    border-top: 5px solid white;
    border-bottom-right-radius: 65px;
}

.door-top1-danger {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #f05050;
    border-left: 1px solid #f05050;
    border-right: 3px solid;
    border-top: 5px solid white;
    border-bottom-left-radius: 65px;
    margin-left: 26px;
    margin-top: -5px;
}

.door-left-danger {
    width: 30px;
    height: 30px;
    border-left: 5px solid white;
    border-right: 1px solid #f05050;
    border-top: 3px solid;
    border-bottom: 1px solid #f05050;
    border-bottom-right-radius: 65px;
}

.door-left1-danger {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 5px solid white;
    border-right: 1px solid #f05050;
    border-top: 1px solid #f05050;
    border-top-right-radius: 65px;
    margin-top: 26px;
    margin-left: -5px;
}

.door-bottom-danger {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 3px solid;
    border-right: 1px solid #f05050;
    border-top: 1px solid #f05050;
    border-top-right-radius: 60px;
}

.door-bottom1-danger {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 1px solid #f05050;
    border-right: 3px solid;
    border-top: 1px solid #f05050;
    border-top-left-radius: 60px;
    margin-left: 26px;
}