
<div class="row" style="margin-top:-30px;">
    <ul class="nav nav-tabs bg-danger">
        <ng-container *ngFor="let nav of navs">
            <div *ngIf="nav.children then  dropdownTemplate;else defaultTemplate"></div>
            <ng-template #defaultTemplate>
                <li  [class]="nav.class" (click)="active()">
                    <a  [routerLink]="nav.path">{{nav.label}}</a>
                </li>
            </ng-template>
            <ng-template #dropdownTemplate>
                <li [class]="nav.class">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{nav.label}}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let child of nav.children" (click)="active()">
                            <a [routerLink]="child.path">{{child.label}}</a>
                        </li>
                    </ul>
                </li>
            </ng-template>
        </ng-container>
    </ul>
</div>
<div class="row">
      <router-outlet></router-outlet>
</div>
