<div style="margin-top:-50px;">
  <button class="btn btn-xs btn-info" *ngIf="auth.userHasScopes(['write:security'])" 
  (click)="createSecurity()">
      <i class="fa fa-plus"></i>&nbsp;Add new security
  </button>
  <app-table-expansion
      [propertyParent] = table.propertyParent
      [propertyChild]  = table.propertyChild
      [buttons]        = table.buttons
      [loading]        = table.loading
      [datasets]       = table.datasets
      [labelCreate]    = "'Assignment Site'"
      (action)         = action($event)
  >
  </app-table-expansion>
</div>
<app-form-v2 (save)= save($event) #form></app-form-v2>
<app-dialog #remove (save)= saveRemove($event)></app-dialog>
<app-error-handler #error></app-error-handler>