
<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
      <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
      <h4 class="card-title">{{title}}</h4>
      <div class="toolbar"></div>
      <div class="material-datatables">
          <div class="row">
              <div *ngIf="create then buttonCreateTemplate;"></div>
          </div>
          <div class="row">
              <div *ngIf="true then filterTemplate;"></div>
          </div>
          <div class="row">
              <div class="table flipped">
                  <mat-table #table [dataSource]="dataSource" matSort class="content"
                  [style.min-width]= width>
                      <ng-container *ngFor="let column of columns" [matColumnDef]="column">
                          <div [ngSwitch]="typeColumn[column]">
                              <div *ngSwitchCase="'number'">
                                  <mat-header-cell *matHeaderCellDef>
                                      <strong>&nbsp;&nbsp;No.</strong>
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element;let i = index">
                                      &nbsp;&nbsp;{{ (pageSize*pageIndex) + i + 1 }}
                                  </mat-cell>
                              </div>

                              <div *ngSwitchCase="'image'">
                                  <mat-header-cell *matHeaderCellDef>
                                      <strong>{{column}}</strong>
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element;let i = index;">
                                      <img [src]="element[column]" default="../../../../assets/img/none.jpg"
                                      class="img-thumbnail" width="100">
                                  </mat-cell>
                              </div>

                              <div *ngSwitchCase="'buttons'">
                                  <mat-header-cell *matHeaderCellDef>
                                      <strong>ACTION</strong>
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element;let i = index;">
                                      <button *ngFor="let button of buttons"
                                      class="btn {{ configButtons[ button ].color }} btn-simple"
                                      [matTooltip]="configButtons[ button ].label"
                                      matTooltipPosition="above"
                                      style="padding:0px;margin:0px"
                                      (click)="setAction(button,element)">
                                          <mat-icon>{{ configButtons[ button ].icon }}</mat-icon>
                                      </button>
                                  </mat-cell>
                              </div>

                              <div *ngSwitchDefault>
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                                      <strong>{{column}}</strong>
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    <div *ngIf="!link.transform(element[column]).link;else pageLink">
                                        {{ element[column] }}
                                    </div>
                                     <ng-template #pageLink>
                                        {{ link.transform(element[column]).description }}
                                        <a style="cursor:pointer"
                                            (click)="action.emit({
                                              actionType : 'imageLink',
                                              value : link.transform(element[column]).value
                                            });setActive(element.id);">
                                            {{ link.transform(element[column]).image }}
                                        </a>
                                     </ng-template>
                                  </mat-cell>
                              </div>
                          </div>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                      <mat-row  [style.background-color]="row.active" *matRowDef="let row; columns: columns;"></mat-row>
                  </mat-table>
              </div>
             <!-- end table -->
              <mat-progress-bar mode="indeterminate" *ngIf="loading" color="warn"></mat-progress-bar>
             <mat-paginator
                #paginator
                [pageSize]="10"
                [pageSizeOptions]="[10,20,50,100]"
                (page)="pageSet($event)"
                showFirstLastButtons>
             </mat-paginator>


          </div>
      </div>
  </div>
</div>

<ng-template #filterTemplate>
  <div class="col-md-3">
      <mat-input-container style="width:100%;">
          <mat-placeholder>
              <i class="fa fa-search"></i>&nbsp;Search
          </mat-placeholder>
          <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-input-container>
  </div>
  <div class="col-md-3" *ngIf="datepicker">
      <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Search Date" [formControl]="date"
          [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>
</ng-template>

<ng-template #buttonCreateTemplate>
  <div class="col-md-2">
      <button class="btn btn-info btn-sm" (click)="setAction('create')">
          <i class="fa fa-plus"></i>&nbsp;&nbsp;Add new
      </button>
  </div>
</ng-template>
