<mat-accordion>
    <mat-expansion-panel [disabled]=true>
        <mat-expansion-panel-header>
            <div class="col-md-4" *ngFor="let parent of propertyParent;">
                <span class="btn btn-xs  btn-simple" style="color:#333;">
                    {{ parent }}
                </span>
            </div>
            <div class="col-md-4" *ngIf="buttons && buttons.length!=0">
                <span class="btn btn-xs  btn-simple" style="color:#333;">
                    ACTION
                </span>
            </div>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    
    <mat-progress-bar *ngIf="loading" mode="indeterminate" [color]="'warn'"></mat-progress-bar>
    <ng-container *ngIf="!loading">
        <mat-expansion-panel *ngFor="let data of datasets">
            <mat-expansion-panel-header>
                <div class="col-md-4" *ngFor="let parent of propertyParent">
                    <span class="btn btn-xs  btn-simple" [style.color]="'#666'">
                        {{ data[parent]  }}
                    </span>
                </div>
                <div class="col-md-4" *ngIf="buttons && buttons.length!=0">
                    <span class="btn btn-xs btn-info" *ngIf="setButton('create')"
                    (click)="action.emit({actionType:'create',value:data})">
                    <i class="fa fa-plus"></i>&nbsp;{{labelCreate}}
                    </span>
                    <span class="btn btn-simple btn-success button" *ngIf="setButton('editParent')"
                    (click)="action.emit({actionType:'editParent',value:data})">
                        <mat-icon>edit</mat-icon>
                    </span>
                    <span class="btn btn-xs btn-simple btn-danger button" *ngIf="setButton('removeParent')"
                    (click)="action.emit({actionType:'removeParent',value:data})">
                        <mat-icon>close</mat-icon>
                    </span>
                </div>
            </mat-expansion-panel-header>

            <ul class="list-group" style="margin:0;font-size:11px;">
                <li class="list-group-item node-treeview2">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-3" *ngFor="let child of propertyChild">
                                <strong>{{child}}</strong>
                            </div>
                            <div class="col-md-1" *ngIf="setButton('removeChild') || setButton('editChild')">
                                <strong>ACTION</strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item node-treeview2" *ngFor="let list of data.childs">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-3" *ngFor="let child of propertyChild">
                                {{ list[child] }}
                            </div>
                            <div class="col-md-1">
                                <span class="btn btn-simple btn-success button" *ngIf="setButton('editChild')"
                                (click)="action.emit({actionType:'editChild',value:list})">
                                    <mat-icon>edit</mat-icon>
                                </span>
                                <span class="btn btn-simple btn-danger button" *ngIf="setButton('removeChild')"
                                (click)="action.emit({actionType:'removeChild',value:list})">
                                    <mat-icon>close</mat-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </mat-expansion-panel>
    </ng-container>
  </mat-accordion>