<h2 mat-dialog-title>Form Work Order</h2>
<form [formGroup]="form">
  <mat-dialog-content>

    <mat-grid-list cols="2" rowHeight="60px">

      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Worker" formControlName="worker_id" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let worker of data.workerModel.list" [value]="worker.id">
              {{ worker.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Site" formControlName="site_id" [errorStateMatcher]="matcher" (selectionChange)="siteChange($event.value)">
            <mat-option *ngFor="let site of data.siteModel.list" [value]="site.id">
              {{ site.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [matDatepicker]="startPicker" placeholder="Start Date" formControlName="start" [errorStateMatcher]="matcher"
            [min]="startMinDate" (dateChange)="endMinDate = $event.value;" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
          <mat-error *ngIf="form.get('start').hasError('required')">
            Start date is required!
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [matDatepicker]="endPicker" placeholder="End Date" formControlName="end"
           [errorStateMatcher]="matcher" [min]="endMinDate" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
          <mat-error *ngIf="form.get('end').hasError('required')">
            End date is required!
          </mat-error>
          <mat-error *ngIf="form.get('end').hasError('matDatepickerMin')">
            End date cannot be earlier than Start date!
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Assignment access" formControlName="access" [disabled]="!site"
            [errorStateMatcher]="matcher" multiple>
            <mat-option *ngFor="let key of getPadlock()" [value]="key.id">
               {{ key.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="Project" formControlName="project" [errorStateMatcher]="matcher" autocomplete="off">
          <mat-error *ngIf="form.get('project').hasError('required')">
            Project is required!
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="Activity" formControlName="activity" [errorStateMatcher]="matcher" autocomplete="off">
          <mat-error *ngIf="form.get('activity').hasError('required')">
            Activity is required!
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-dialog-content>
  <mat-dialog-actions class="pull-right">
    <button mat-raised-button color="warn" (click)="form.reset()">
      <mat-icon>delete_forever</mat-icon>&nbsp;Clear
    </button>
    <button mat-raised-button [disabled]="form.invalid" [mat-dialog-close]="form.getRawValue()" cdkFocusInitial color="primary">
      <mat-icon>save_alt</mat-icon>&nbsp;Save
    </button>
  </mat-dialog-actions>
</form>
