<h6 mat-dialog-title class="title-header">Dialog</h6>
<mat-dialog-content>
  <h4><div [innerHTML]= data.message></div></h4>
</mat-dialog-content>
<mat-dialog-actions class="pull-right">
      <button mat-raised-button color="warn" [mat-dialog-close]="undefined">
        <mat-icon>close</mat-icon>&nbsp; No
      </button>
      <button mat-raised-button color="primary" [mat-dialog-close]="data.id">
        <mat-icon>done_all</mat-icon>&nbsp; Yes
      </button>
</mat-dialog-actions>
