
<div class="card-chart">
  <div class="card-header card-header-icon" data-background-color="red">
      <i [class]="icon"></i>
  </div>
  <div class="card-content">
      <h4 class="card-title"> 
            <mat-form-field floatPlaceholder="never">
                <mat-select placeholder="Daily" [(ngModel)]="chartType" (ngModelChange)="changeChartType($event)" name="chartType">
                    <mat-option *ngFor="let list of chartTypeList" [value]="list.value">
                        {{list.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
      </h4>
      <div class="toolbar"></div>
        <div style="height:280px;text-align:center;">
            <canvas baseChart
                [datasets]="datasets"
                [labels]="labels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
            ></canvas>
        </div>
  </div>
</div>



