.filter {
    background-color: #eee;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -20px;
}

mat-select {
  width:100%;
}


.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 50px;
    line-height: 80px;
    color:#fff;
}

.bg-aqua {
    background-color: #5cb85c !important;
}

.bg-danger {
    background-color: #d9534f !important;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.title {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.address {
    text-transform: uppercase;
    font-size: 9px;
}



.scroll-container {
  position: relative;

  min-height: 0;
  padding: 24px;
  margin: 12px 16px;
  border: 1px solid #ccc;

  background-color: #fff;
}


.badge-notify{
   background:red;
   position:relative;
   transform: (-100%, -100%);
}
