<app-error-handler #error></app-error-handler>
<div class="row" style="overflow-y: hidden;overflow-x: hidden;">
  <div *ngIf="loading;else pageTemplate">
      <div class="loading" style="margin-top:20%;"></div>
  </div>
</div>


<ng-template #pageTemplate>
  <div class="col-md-3 col-sm-12">
      <div *ngIf="true then listTemplate"></div>
  </div>
  <div class="col-md-9 col-sm-12" style="padding:0px;">
      <div style="height:92vh;">
          <div class="filter">
              <div *ngIf="true then filterTemplate"></div>
          </div>
          <app-map [markers]="map.markers" [center]="map.center"
          (clickMarker)="setMarker($event)"></app-map>
      </div>
  </div>
</ng-template>

<ng-template #listTemplate>
  <h4>List Site</h4>
  <div class="row">
    <div class="col-md-10">
        <mat-input-container style="width:100%;">
            <mat-placeholder>
                <mat-icon>search</mat-icon>&nbsp;Search
            </mat-placeholder>
            <input matInput [(ngModel)] = search>
        </mat-input-container>
    </div>
    <div class="col-md-2" style="padding-top:20px;">
        <a (click)="pageListAlarm = !pageListAlarm" class="btn btn-xs btn-simple" style="margin:0;padding:0"
        [ngClass]="pageListAlarm?'btn-danger':'btn-success'">
            <i class="fa fa-bell"></i><span class="badge">{{siteAlarm}}</span>
        </a>
    </div>
  </div>


  <div style="height:73vh;">
      <perfect-scrollbar>
          <div *ngFor="let list of sites | filterData:search:'default'">

              <div class="info-box" *ngIf="!pageListAlarm;else alarmPage" (click)="locationDetail(list)"
               style="cursor:pointer">
                  <span class="info-box-icon" [ngClass] = "list.alarm ?'bg-danger':'bg-aqua'" >
                      <mat-icon>store</mat-icon>
                  </span>

                  <div class="info-box-content">
                    <span class="title">
                        {{list.label}}
                    </span>
                    <span class="address">
                        {{list.address}}
                    </span>
                  </div>
              </div>
              <ng-template #alarmPage>
                    <div class="info-box" *ngIf="pageListAlarm && list.alarm" (click)="locationDetail(list)"
                    style="cursor:pointer">
                       <span class="info-box-icon" [ngClass] = "list.alarm ?'bg-danger':'bg-aqua'" >
                           <mat-icon>store</mat-icon>
                       </span>

                       <div class="info-box-content">
                         <span class="title">
                             {{list.label}}
                         </span>
                         <span class="address">
                             {{list.address}}
                         </span>
                       </div>
                   </div>
              </ng-template>
          </div>
      </perfect-scrollbar>
  </div>
</ng-template>

<ng-template #filterTemplate>
  <div class="row">
      <div class="col-md-1 ">
          <button mat-mini-fab color="warn" style="margin:5px 0px 5px 20px;" (click)="refresh()">
              <mat-icon>refresh</mat-icon>
          </button>
      </div>
      <div class="col-md-11" style="margin-bottom:-20px;margin-top:5px;">
          <div class="col-md-3">
              <mat-form-field>
                  <mat-select
                      [placeholder]="list.provinces.length==0?'List not available':'List province'"
                      [(ngModel)] = 'id_province' name="province" (ngModelChange)="setProvince()">
                      <mat-option *ngFor="let list of list.provinces" [value]="list.id">
                          {{ list.label }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field>
                  <mat-select
                      [placeholder]="list.cities.length==0?'List not available':'List cities'"
                      [(ngModel)]='id_city' name="city" (ngModelChange)="setCity()">
                      <mat-option *ngFor="let list of list.cities" [value]="list.id">
                          {{ list.label }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field>
                  <mat-select
                      [placeholder]="list.districts.length==0?'List not available':'List districts'"
                      [(ngModel)]="id_district" name="district" (ngModelChange)="setDistrict()">
                      <mat-option *ngFor="let list of list.districts"
                      [value]="list.id">
                          {{ list.label }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field>
                  <mat-select
                      [placeholder]="list.sites.length==0?'List not available':'List sites'"
                      [(ngModel)]="id_site" name="site" (ngModelChange)="setSite()">
                      <mat-option *ngFor="let list of list.sites"
                      [value]="list.id">
                          {{ list.label }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>

      </div>
  </div>
</ng-template>
