<div class="widget widget-stats">
    <div class="widget-header" data-background-color="blue">
      <i class="fa fa-bolt"></i>
    </div>
    <div class="widget-content">
        <p class="category">{{loading ? 'Loading' : label}}</p>
        <p class="title"> {{value}}
          <span class="unit">{{unit}}</span>
        </p>
    </div>
     <div class="widget-footer">
          <!-- <div class="stats">
             <i class="fa fa-calendar"></i> 1 month ago
          </div> -->
      </div>
  </div>
