<h6 mat-dialog-title class="title-header" style="font-style: normal;">
  {{data.title}}
</h6>
<mat-dialog-content>
    <img [src]="data.link" default="../../../../../../assets/img/none.jpg"
    class="img-thumbnail" width="500px;">
</mat-dialog-content>
