<div class="example-container">
  <div class="row" style="margin-top:-30px;">
      <div class="col-md-2 col-sm-4">
         <app-widget-total-energy (setValue)="total = $event;">
         </app-widget-total-energy>
      </div>
      <div class="col-md-2 col-sm-4">
         <app-widget-total-ac (setValue)="ac = $event;">
         </app-widget-total-ac>
      </div>
      <div class="col-md-2 col-sm-4">
         <app-widget-total-chiller (setValue)="chiller = $event;">
         </app-widget-total-chiller>
      </div>
      <div class="col-md-2 col-sm-4">
        <app-widget-total-other [total]="total" [ac]="ac" [chiller]="chiller">
        </app-widget-total-other>
     </div>
     <div class="col-md-2 col-sm-4">
        <app-widget-room-temp></app-widget-room-temp>
     </div>
     <div class="col-md-2 col-sm-4">
        <app-widget-room-humidity></app-widget-room-humidity>
     </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
        <app-chart-energy></app-chart-energy>
    </div>
    <div class="col-md-6 col-sm-12">
        <app-area></app-area>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12 col-sm-12">
        <app-chart-periodic></app-chart-periodic>
      </div>
  </div>

</div>
