<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{title}}</h4>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="workerModel.loading">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <div *ngIf="workerModel.statusError" class="alert alert-danger">
      <button type="button" class="close" (click)="workerModel.statusError = undefined;">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{workerModel.getError().name}} !</strong>
      <br/> {{workerModel.getError().message}}
    </div>
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="60px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <mat-icon>style</mat-icon>&nbsp;&nbsp;</span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" (keyup)="dataSource.filter = $event.target.value.trim().toLowerCase();" autocomplete="off">
          <span matPrefix>
            <mat-icon>search</mat-icon>&nbsp;&nbsp;</span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="5"></mat-grid-tile>

      <mat-grid-tile *ngIf="enabledAction">
        <button class="btn btn-info btn-sm" (click)="onClickAction({actionType:'create'})">
          <i class="fa fa-plus"></i>&nbsp;&nbsp;Add
        </button>
      </mat-grid-tile>

    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="dataSource" matSort class="content" style="min-width:100%;">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="profile">
          <mat-header-cell *matHeaderCellDef>Profile</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img [src]="row.profile" class="img-circle profile" (click)="onClickProfile(row.id)" default="../../../../../assets/img/none.jpg">
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header>IMEI</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.username}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.phone}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.company}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action" *ngIf="enabledAction">
          <mat-header-cell *matHeaderCellDef>ACTION</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button class="btn btn-xs btn-simple btn-success no-padder" matTooltip="Edit data {{row.name}}" matTooltipPosition="above"
              style="padding:0;" (click)="onClickAction({actionType:'edit',value:row})">
              <mat-icon>edit</mat-icon>
            </button>

            <button class="btn btn-xs btn-simple btn-danger no-padder" matTooltip="Remove data {{row.name}}" matTooltipPosition="above"
              style="padding:0;" (click)="onClickAction({actionType:'remove',value:row})">
              <mat-icon>close</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="dataSource ? dataSource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="[25, 50, 100, 250]" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
