<h6 mat-dialog-title class="title-header">Note</h6>
<mat-dialog-content>
  <mat-form-field style="width: 500px;">
    <textarea matInput placeholder="Leave a comment" [(ngModel)]="note"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="pull-right">
  <button mat-raised-button color="warn" [mat-dialog-close]="undefined">
    <mat-icon>close</mat-icon>&nbsp; Cancel
  </button>
  <button mat-raised-button color="primary" [mat-dialog-close]="{id: data, note: note}">
    <mat-icon>done_all</mat-icon>&nbsp; Reject
  </button>
</mat-dialog-actions>
