<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
      <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
      <h4 class="card-title">{{title}}</h4>
      <div class="toolbar"></div>

      <div class="example-loading-shade" *ngIf="historyModel.loading">
          <mat-spinner [color]="'warn'"></mat-spinner>
      </div>
      <!-- End Loading -->

      <div *ngIf="historyModel.statusError" class="alert alert-danger">
          <button type="button" class="close"
          (click)="historyModel.statusError = undefined;">
            <span aria-hidden="true">&times;</span>
          </button>
        <strong>{{historyModel.getError().name}} !</strong>
        <br/> {{historyModel.getError().message}}
      </div>
      <!-- End Alert -->

      <mat-grid-list cols="12" rowHeight="60px">

          <mat-grid-tile colspan="2">
            <mat-form-field>
              <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter">
                <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
                  {{filter.label}}
                </mat-option>
              </mat-select>
              <span matPrefix><mat-icon>style</mat-icon>&nbsp;&nbsp;</span>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="3">
            <mat-form-field>
              <input matInput placeholder="Search" (keyup)="dataSource.filter = $event.target.value.trim().toLowerCase();"
              autocomplete="off">
              <span matPrefix><mat-icon>search</mat-icon>&nbsp;&nbsp;</span>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
        <!-- End Filter -->

      <div class="table flipped">
          <mat-table #table [dataSource]="dataSource" matSort class="content" style="min-width:100%;">

            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
              <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="site">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Site</mat-header-cell>
              <mat-cell *matCellDef="let row">
                  {{ getSite(row.access_key_id )}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let row">
                  {{ getName(row.access_key_id) }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="worker">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Worker</mat-header-cell>
              <mat-cell *matCellDef="let row">
                  {{ getWorker(row.access_key_id) }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="project">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Project</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ getProject(row.access_key_id) }}
                </mat-cell>
              </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.date | date:'dd MMMM yyyy HH:mm:ss'}}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
          </mat-table>
        </div>
        <!-- End Table -->

        <mat-paginator #paginator
          [length]="dataSource ? dataSource.data.length : 0"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="[25, 50, 100, 250]"
          (page)="onSetPage($event)"
          showFirstLastButtons>
        </mat-paginator>
        <!-- End Paginator -->

      </div>
</div>
