.rack5x2 {
    width: 240px;
    height: 40px;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 1px;
    box-shadow: 5px 5px 3px #888888;
    font-size: 10px;
    background-color: orange;
    font-family: times new roman;
    z-index: -1;
}
.rack5x2>p{
    margin: 6px 0px 0px 93px;
    font-weight: bold;
    font-size: 16px;
    font-family: times new roman;
    z-index: -1;
}
.rack5x1 {
    width: 240px;
    height: 20px;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 1px;
    box-shadow: 5px 5px 3px #888888;
    font-size: 10px;
    background-color: #ff471a;
    z-index: -1;
}
.rack5x1>p{
    margin: -2px 0px 0px 93px;
    font-weight: bold;
    font-size: 15px;
    font-family: times new roman;
    z-index: -1
}

.rack2x2 {
    width: 48px;
    height: 39px;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 1px;
    box-shadow: 5px 5px 3px #888888;
    font-size: 10px;
    background-color: #19a9d5;
    z-index: -1;
}
.rack2x2>p{
    margin: -5px 0px 0px 9px;
    font-weight: bold;
    font-size: 13px;
    font-family: times new roman;
    z-index: -1
}