<mat-grid-list cols="4" rowHeight="400px;">
  <mat-grid-tile *ngFor="let widget of requestModel.list">
      <mat-card style="margin-right:10px;">
          <mat-card-header>
            <div mat-card-avatar style="background-size:cover;"
            [style.background-image]="getProfile(widget.work_order_id)"></div>
            <mat-card-title>{{getWorker(widget.work_order_id)}}</mat-card-title>
            <mat-card-subtitle>{{getSite(widget.work_order_id)}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="widget.picture" default="../../../../assets/img/none.jpg" style="height:180px;">
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions style="text-align: center;">
            <button mat-raised-button color="primary" (click)="onApprove(widget.id)">Approve</button>
            <button mat-raised-button color="warn" (click)="onReject(widget.id)">Reject</button>
          </mat-card-actions>
        </mat-card>
  </mat-grid-tile>
</mat-grid-list>
