<div class="card" [ngStyle]="{'overflow':'hidden'}">
    <div class="card-content">
      <button mat-raised-button class="btn-action" *ngIf="viewType === 'default'"
          (click)="viewType = 'building';">
          <div class="txt-action">Edit Building
            <i class="fa fa-building-o"></i>
          </div>
      </button>
      <button mat-raised-button class="btn-action" *ngIf="viewType === 'default'"
        (click)="viewType = 'equipment'">
        <div class="txt-action">Edit Item
          <i class="fa fa-arrows"></i>
        </div>
      </button>
      <button mat-raised-button class="btn-action" *ngIf="viewType !== 'default'"
          (click)="viewType = 'default';onCancel();">
          <div class="txt-action">Cancel&nbsp;
            <i class="fa fa-undo"></i>
          </div>
      </button>
      <button mat-raised-button class="btn-action" *ngIf="viewType !== 'default'"
          (click)="viewType = 'default'; onSave();">
          <div class="txt-action">Save
            <i class="fa fa-floppy-o"></i>
          </div>
      </button>
    </div>


    <div [ngStyle]="{'padding-left':8+'px', 'padding-right':8+'px',
      'padding-bottom':8+'px','padding-top':5+'px'}">
      <div  class="card-content card-shdw" [ngStyle]="{'padding-left':5+'px', 'padding-right':5+'px',
            'padding-bottom':5+'px','padding-top':4+'px'}">


              <div id="container">
                <mat-spinner *ngIf="getLoading()" [color]="'warn'" style="margin:18vh auto;"></mat-spinner>
                <div class="container-fluid">

                      <div *ngIf="(viewType == 'equipment' || viewType == 'default') && !loading">
                          <app-padlock
                              [managedObjects]="items.PL1BT"
                              [width] = "width"
                              (onChangePosition)="changeItemPositions.PL1BT = $event"
                              [draggabled]="viewType === 'equipment'"
                              (statusLoading)="loadingItems.PL1BT = $event;">
                          </app-padlock>

                          <!-- <app-padlock *ngIf="items.AC && !loading"
                              [managedObjects]="items.AC"
                              [width] = "width"
                              (onChangePosition)="changeItemPositions.AC = $event"
                              [draggabled]="viewType === 'equipment'">
                          </app-padlock> -->
                      </div>

                      <!-- <div *ngIf="viewType == 'building' || viewType == 'default'">
                          <div *ngIf="atm then atmTemplate"></div>
                          <div *ngIf="door then doorTemplate"></div>
                          <div *ngIf="cashier then cashierTemplate"></div>
                          <div *ngIf="rack then rackTemplate"></div>
                      </div> -->

                  </div>
              </div>

          </div>
    </div>
</div>
