<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
      <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
      <h4 class="card-title">{{title}}</h4>
      <div class="toolbar"></div>

      <div class="example-loading-shade" *ngIf="workOrderModel.loading">
          <mat-spinner [color]="'warn'"></mat-spinner>
      </div>
      <!-- End Loading -->

      <div *ngIf="workOrderModel.statusError" class="alert alert-danger">
          <button type="button" class="close"
          (click)="workOrderModel.statusError = undefined;">
            <span aria-hidden="true">&times;</span>
          </button>
        <strong>{{workOrderModel.getError().name}} !</strong>
        <br/> {{workOrderModel.getError().message}}
      </div>
      <!-- End Alert -->

      <mat-grid-list cols="12" rowHeight="60px">

          <mat-grid-tile colspan="2">
            <mat-form-field>
              <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter">
                <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
                  {{filter.label}}
                </mat-option>
              </mat-select>
              <span matPrefix><mat-icon>style</mat-icon>&nbsp;&nbsp;</span>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="3">
            <mat-form-field>
              <input matInput placeholder="Search" (keyup)="dataSource.filter = $event.target.value.trim().toLowerCase();"
              autocomplete="off">
              <span matPrefix><mat-icon>search</mat-icon>&nbsp;&nbsp;</span>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="5"></mat-grid-tile>

          <mat-grid-tile *ngIf="enabledAction">
            <button class="btn btn-info btn-sm" (click)="onClickAction({actionType:'create'})">
              <i class="fa fa-plus"></i>&nbsp;&nbsp;Add
            </button>
          </mat-grid-tile>

        </mat-grid-list>
        <!-- End Filter -->

      <div class="table flipped">
          <mat-table #table [dataSource]="dataSource" matSort class="content" style="min-width:1200px;">

            <ng-container matColumnDef="no">
              <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
              <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="worker">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Worker</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{workerModel.getById(row.worker_id).name}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="site">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Site</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{siteModel.getById(row.site_id).label}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="access">
              <mat-header-cell *matHeaderCellDef>Assignment Access</mat-header-cell>
              <mat-cell *matCellDef="let row">
                  <mat-form-field>
                      <mat-select [placeholder]="getAccess(row.id).length === 0 ? 'Not Available' : 'Available'">
                        <mat-option *ngFor="let key of getAccess(row.id)">
                            {{discobjectModel.getById(key.discobj_id).name}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="start">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.start | date:'longDate'}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="end">
              <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.end | date:'longDate'}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="project">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Project</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.project}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="activity">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Activity</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.activity}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="note">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.note}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell *matCellDef="let row"
                  [style.color]="status[row.status].color"
                  style="text-transform: uppercase;">
                  <mat-icon style="font-size:1.35em;">
                      {{status[row.status].icon}}
                  </mat-icon>&nbsp;{{row.status}}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
          </mat-table>
        </div>
        <!-- End Table -->

        <mat-paginator #paginator
          [length]="dataSource ? dataSource.data.length : 0"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="[25, 50, 100, 250]"
          (page)="onSetPage($event)"
          showFirstLastButtons>
        </mat-paginator>
        <!-- End Paginator -->

      </div>
</div>
