.ac {
	font-size: 30px;
	height: auto;
	width: 30px;
	position: absolute;
	z-index: 1;
}

.valueAC {
	position: absolute;
	left: 38px;
	top: -1px;
	color:#1A4C73;
    font-size: 14px;
    font-family: "Arial", "Arial Bold", Gadget, sans-serif;
	font-weight: bold;
	z-index: 1;
}