
<!-- //Container -->
<form [formGroup]="form">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content>
        <mat-grid-list cols="2" rowHeight="6:1">
                <mat-grid-tile *ngFor="let tile of data.models">
        
                    <div [ngSwitch]="tile.type" style="width:100%;">
                        
                        <div *ngSwitchCase="'email'">
                            <mat-form-field style="width:95%;">
                                <input matInput type="email" [placeholder]="tile.model"  
                                [errorStateMatcher]="matcher[data.actionType]" autocomplete="off" formControlName="{{tile.model}}">
                                <mat-error *ngIf="form.get(tile.model).hasError('required')">
                                    {{tile.model}} is <strong>required !</strong>
                                </mat-error>
                                <mat-error *ngIf="!form.get(tile.model).hasError('required') && 
                                form.get(tile.model).hasError('email')">
                                    This is not a valid <strong>E-mail!</strong>
                                </mat-error>
                            </mat-form-field>   
                        </div>


                        <div *ngSwitchCase="'list'">
                            <mat-form-field style="width:95%">
                                <mat-select [placeholder]="placeholder(tile)" formControlName="{{tile.model}}"
                                [errorStateMatcher]="matcher[data.actionType]" (selectionChange)="eventChange($event,tile)"
                                [multiple]="tile.multiple">
                                    <mat-option *ngFor="let list of tile.list" [value]="list[ tile.idSet ]">
                                        {{ list[ tile.listLabel ] }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get(tile.model).hasError('required')">
                                    {{tile.model}} is <strong>required!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngSwitchCase="'date'">
                            <mat-form-field style="width:95%;">
                                <input matInput [matDatepicker]="picker" [placeholder]="tile.model" autocomplete="off"
                                formControlName="{{tile.model}}" [errorStateMatcher]="matcher[data.actionType]"
                                [min]="tile.min">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="false" (selectedChanged)="changeDate($event,tile.model)">
                                </mat-datepicker>
                                <mat-error *ngIf="form.get(tile.model).hasError('matDatepickerParse')">
                                    value in {{tile.model}} is invalid <strong>date!</strong>
                                </mat-error>
                                <mat-error *ngIf="form.get(tile.model).hasError('required') && 
                                 !form.get(tile.model).hasError('matDatepickerParse')">
                                    {{tile.model}} is <strong>required!</strong>
                                </mat-error>
                                <mat-error *ngIf="form.get(tile.model).hasError('matDatepickerMin')">
                                    {{tile.model}} cannot be earlier than {{tile.minValidate}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div *ngSwitchCase="'phone'">
                            <mat-form-field style="width:95%;">
                                <input matInput type="text" [placeholder]="tile.model" formControlName="{{tile.model}}" 
                                [errorStateMatcher]="matcher[data.actionType]" autocomplete="off">
                                <mat-error *ngIf="form.get(tile.model).hasError('required')">
                                    {{tile.model}} is <strong>required!</strong>
                                </mat-error>
                                <mat-error *ngIf="form.get(tile.model).hasError('maxlength')">
                                    Maximum phone number of <strong>12 digits!</strong> 
                                </mat-error>
                                <mat-error *ngIf="!form.get(tile.model).hasError('maxlength') && form.get(tile.model).hasError('pattern')">
                                    This is <strong>invalid</strong> phone number
                                </mat-error>
                            </mat-form-field>   
                        </div>
                        
                        <div *ngSwitchCase="'image'">
                            <div class="button-row" style="width:95%;">
                                <button mat-button color="primary" mat-mini-fab style="margin-left:10px;"
                                    (click)="imgFileInput.click()">
                                    <mat-icon>add_a_photo</mat-icon>
                                </button>
                                <input type="file" ng2FileSelect [uploader]="files[tile.container]" #imgFileInput 
                                (change)="setPicture(tile)"/>

                                <mat-form-field style="width:100%;margin-left:10px;">
                                    <input matInput type="text" [placeholder]="tile.model" autocomplete="off"
                                    formControlName="{{tile.model}}" [errorStateMatcher]="matcher[data.actionType]">
                                    <mat-error *ngIf="form.get(tile.model).hasError('required')">
                                        {{tile.model}} is <strong>required!</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.get(tile.model).hasError('pattern')">               
                                        This is not an <strong>image file</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div *ngSwitchDefault>
                            <mat-form-field style="width:95%;">
                                <input matInput [type]="tile.type" [placeholder]="tile.model" formControlName="{{tile.model}}" 
                                [errorStateMatcher]="matcher[data.actionType]" autocomplete="off">
                                <mat-error *ngIf="form.get(tile.model).hasError('required')">
                                    {{tile.model}} is <strong>required!</strong>
                                </mat-error>
                            </mat-form-field>   
                        </div>
                    </div>
        
                </mat-grid-tile>
            </mat-grid-list>
    </mat-dialog-content>
    <mat-dialog-actions class="pull-right">
      <button mat-raised-button color="warn"    [mat-dialog-close]="{type:'cancel'}">Cancel</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="{type:'save',value:form.getRawValue()}" 
      [disabled]="form.invalid" (click)="saveImages()">Save</button>
    </mat-dialog-actions>
</form>
