<h6 mat-dialog-title class="title-header">{{ data.acknowledge ? 'Acknowledge':'Remove'}}</h6>
<mat-dialog-content>
  <h4><div [innerHTML]= data.message></div></h4>
</mat-dialog-content>
<mat-dialog-actions class="pull-right">
      <button mat-raised-button color="warn"    [mat-dialog-close]="{type:'cancel'}">Cancel</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="{type:'save',value:data.id}">Save</button> 
</mat-dialog-actions>