<div class="example-container">
<app-table
  [title] = table.title
  [buttons] = table.buttons
  [loading] = table.loading
  [datasets] = table.datasets
  [columns] = table.columns
  [width]   = table.width
  [datepicker] = table.datepicker
  (action)  = action($event)
></app-table>
<app-error-handler #error></app-error-handler>
<app-dialog-image #imageView></app-dialog-image>
</div>
