<app-error-handler #error></app-error-handler>
<app-table
  [title]    = table.title
  [loading]  = table.loading
  [columns]  = table.columns
  [buttons]  = table.buttons
  [datasets] = table.datasets
  [width]    = table.width
  (action)   = action($event)
></app-table>
<app-form-map-dialog #form (save) = save($event)></app-form-map-dialog>