.kasir {
    width: 10px;
    height: auto;
}

.kasir>.screen {
    width: 20px;
    height: 15px;
    position: relative;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 2px;
}

.kasir>p {
    font-size: 13px;
    margin: 0px 0px 0px -9px;
    font-family: times new roman;
}

.foot {
    height: 2px;
    width: 3px;
    border-top: 2px solid;
    border-right: 0px solid;
    border-bottom: 2px solid;
    border-left: 6px solid;
    margin: 0px 0px 0px 7px;
}