<div style="margin-top:-50px;">
  <button *ngIf="auth.userHasScopes(['write:channel'])" class="btn btn-xs btn-info"
   (click)="createChannelType()">
      <i class="fa fa-plus"></i>&nbsp;Add new channel type
  </button>
  <app-table-expansion
      [propertyParent] = table.propertyParent
      [propertyChild]  = table.propertyChild
      [buttons]        = table.buttons
      [loading]        = table.loading
      [datasets]       = table.datasets
      [labelCreate]    = "'Add new channel'"
      (action)         = action($event)
  >
  </app-table-expansion>
</div>
<app-form-v2 (save)= save($event) #form></app-form-v2>
<app-dialog #remove (save)= saveRemove($event)></app-dialog>
<app-error-handler #error></app-error-handler>