<div class="header">
  <div class="col-md-4">
  <div class="logo">
      <img src="/assets/img/angular2-logo-red.png"/>
      <span>EMS</span>
  </div>
  </div>
  <div class="col-md-8">
      <ul class="pull-right">
          <li>
              <a routerLink="/public/map">
                 <mat-icon>pin_drop</mat-icon>&nbsp;Maps
              </a>
          </li>
          <li>
              <a routerLink="/public/setup">
                  <mat-icon>settings</mat-icon>&nbsp;Setup
              </a>
          </li>
          <li>
              <a (click)="auth.logout()">
                  <mat-icon>exit_to_app</mat-icon>&nbsp;Logout
              </a>
          </li>
      </ul>
  </div>
</div>
<div class="main-content">
  <div class="container-fluid">
        <router-outlet></router-outlet>
  </div>
</div>
