<span [ngStyle]="{'position':'absolute', 'z-index':1}" matTooltip="{{label}}">
	<i class="fa fa-thermometer-half" aria-hidden="true"
	[ngStyle]="{'font-size':34+'px', 'color': imageUrl}"></i>
	<div class="valueTemp" >
		<div>{{power == false ? 0 : humidity}}</div>
		<div>{{power == false ? 0 : temperature}}</div>
	</div>
</span>
