<agm-map
[latitude]="center.latitude"
[longitude]="center.longitude"
[zoom]="center.zoom"
[scrollwheel]="false"
[disableDefaultUI]="true"
[streetViewControl]="false"
[minZoom]=5
[maxZoom]=18
(mapClick)="setMarker($event)"
(zoomChange)="zoomChange($event)"
>
	<agm-marker *ngFor="let a of markers; let i = index"
		[visible]="true"
		(mouseOver)="Showinfobox(i)"
		(mouseOut)="hiddeninfobox()"
		(markerClick)="clickedMarker(a)"
		[latitude]="a.latitude"
		[longitude]="a.longitude"
		[iconUrl]="a.icon"
	>
			<agm-info-window
				[disableAutoPan]="true"
				[isOpen]="showbox == i">
				<div class="col-md-12" align="center">
						<strong>{{a.label}}</strong>
				</div>
			</agm-info-window>
	</agm-marker>
</agm-map>
