<h6 mat-dialog-title style="font-size:14px; padding-bottom:0%">Settings</h6>
<mat-dialog-content style="overflow:hidden;">
  <div *ngIf="command=='power'">
    <p style="padding-bottom:16px;">Setting power status ?</p>
    <div style="text-align:center;">
      <mat-radio-group (change)="radioResult($event)">
        <mat-radio-button [checked]="value=='ON'" color="primary" value="ON">ON</mat-radio-button>
        <mat-radio-button [checked]="value=='OFF'" color="primary" value="OFF" style="padding-left:20px;">OFF</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div *ngIf="command=='padlock'">
      <p style="padding-bottom:16px;">Setting padlock status ?</p>
      <div style="text-align:center;">
        <mat-radio-group (change)="radioResult($event)">
          <mat-radio-button [checked]="value=='LOCK'" color="primary" value="LOCK">LOCK</mat-radio-button>
          <mat-radio-button [checked]="value=='UNLOCK'" color="primary" value="UNLOCK" style="padding-left:20px;">UNLOCK</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    
  <div *ngIf="command=='temperature'">
    <mat-form-field style="padding-top:20px;">
      <input matInput placeholder="Setting temperature" [(ngModel)]="value" type="number" min="16" max="30" [value]="value">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="padding-top:45px;" align="end">
  <button mat-raised-button mat-dialog-close="cancel" color="warn">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="{id:id, command:command, value:value}" color="primary">Apply</button>
</mat-dialog-actions>