
<h2 mat-dialog-title>{{data.title}}</h2>
<mat-slide-toggle color="primary" (change)="setManual($event)" *ngIf="data.actionType != 'remove'">
    Input the manual location
</mat-slide-toggle>
<mat-dialog-content>
    <div *ngIf="data.actionType == 'remove' then removeTemplate;else defaultTemplate;"></div>
</mat-dialog-content>
<mat-dialog-actions class="pull-right">
<button mat-raised-button color="warn" [mat-dialog-close]="{actionType:'cancel'}">Cancel</button>
<button mat-raised-button color="primary" [mat-dialog-close]="{actionType:data.actionType,value:dist}">Save</button>
</mat-dialog-actions>


<ng-template #removeTemplate>
    <h4>Are you sure to delete {{data.value.Label}} ?</h4>
</ng-template>


<ng-template #defaultTemplate>
    <mat-grid-list cols="4" rowHeight="3:1">
        <mat-grid-tile colspan="4" rowspan="4">
            <app-map [center]="data.center" [markers]="[data.center]" (addMarker)="addMarker($event)" 
            style="width:100%;height:300px;"></app-map>
        </mat-grid-tile>

        <mat-grid-tile *ngFor="let form of config;let index = index;">
            <div *ngIf="form.type=='text' || form.type=='number' then inputFieldTemplate;else listTemplate"></div>

            <ng-template #inputFieldTemplate>
                <mat-form-field>
                    <input matInput [placeholder]="form.model" [type]="form.type" 
                    [disabled]="form.disable" [name]="form.model" [(ngModel)]="dist[form.model]"
                    (ngModelChange)="setTypeData(form.type,form.model)" step="any">
                </mat-form-field>
            </ng-template>

            <ng-template #listTemplate>
                
                <mat-form-field>
                    <mat-select [placeholder]="showPlaceholder(form)" [(ngModel)]="dist.list[form.model]" 
                    (ngModelChange)="setTypeData(form.id.typeData,form.model)" 
                    (ngModelChange)="changeList(form,index)">
                      <mat-option *ngFor="let list of form.list" [value]="list[ form.id.set ]">
                        {{ list[ form.listLabel ] }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-template>
            
        </mat-grid-tile>
            
    </mat-grid-list>
</ng-template>

