
<ul class="nav nav-tabs bg-danger" style="margin-top:20px;">
  <ng-container *ngFor="let nav of navs">
      <li  [class]="nav.class">
          <a  [routerLink]="nav.path" (click)="navActive(nav.path)">{{nav.label}}</a>
      </li>
  </ng-container>
</ul>

<div class="example-container">
  <router-outlet></router-outlet>
</div>
