.bg-danger {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
  }
  .dropdown-menu>li a:hover {
      color: #fff;
      text-decoration: none;
      background: linear-gradient(60deg, #ef5350, #e53935);
      box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);  
      outline: 0;
  }
  li a:hover {
    cursor:pointer;
  }
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color .1s .2s; 
  }