span.title-header{
	font-size: 17px;
	position: relative;
	left: 20px;
	top:1px;
	font-weight: bold;
	color: white;
}

.card-title{
	background-color: #f44336;
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
	line-height: 2.6;
}

span.btn-dropdown{
	position: absolute;
	left: 79%;
	top: -4px;
	color: white;
	font-size: 18px;
	cursor: pointer;
	line-height: 50px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.setting{
	position: absolute;;
	left:95%;
	top : 15px;
	font-size:15px;
	color:white; 
	cursor:pointer;
}