<!-- <app-form-dashboard-dialog (save)="save($event)" #form></app-form-dashboard-dialog> -->
<app-dialog #remove (save)= saveRemove($event)></app-dialog>
<app-error-handler #error></app-error-handler>
<app-form-dashboard-dialog #form (save)= save($event)></app-form-dashboard-dialog>
<div class="loading" *ngIf="loading;else pageView"></div>
<ng-template #pageView>
    <div class = "row" style="margin-top:-60px;">
        <div class="card" >
            <div class="card-title">

                <span class="title-header">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    &nbsp;&nbsp;Dashboard Site
                </span>

                <span class="btn-group" class="btn-dropdown">
                    <button type="button" mat-button class="button btn-sm dropdown-toggle" data-toggle="dropdown" style="color: white;">
                        <span [ngStyle]="{'font-size':14.5+'px', 'font-weight':'bold'}">
                            {{sites.length==0 || countSiteNotSet() ?"Sites not available":"List sites"}}
                        </span> 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu scrollable-menu" role="menu"> 
                        <ng-container *ngFor="let site of sites">
                            <li *ngIf="checkStorage(site)" (click)="setSite(site)">
                                <a>{{site.label}}</a>
                            </li>
                        </ng-container>
                    </ul>
                </span>

                <i matTooltip="setting default" class="fa fa-gear setting" aria-hidde="true"
                (click)="editDefaultWidget()"></i>

            </div>
        </div>
    </div>
    <div class="row">
        <div [dragula]='"bag-one"' [dragulaModel]="widgets">
            <div class="col-md-3 col-sm-4" *ngFor="let list of widgetViews">
                <app-widget-store-v2 
                    [id]     = list.id
                    [label]  = list.label
                    [gauge]  = list.gauge
                    [informations] = list.informations
                    [loading] = list.loading
                    (action) = actionWidget($event)>
                </app-widget-store-v2>
            </div> 
        </div>
    </div>
</ng-template>