
<div class="card-chart">
    <div class="card-header card-header-icon" data-background-color="red">
        <i class="fa fa-bar-chart"></i>
    </div>
    <div class="card-content">
        <h4 class="card-title">
          <mat-grid-list cols="4" rowHeight="60px" style="margin-top:-20px;">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field floatPlaceholder="never">
                  <mat-select [(ngModel)]="timeType" (ngModelChange)="renderChart();">
                      <mat-option *ngFor="let type of timeTypes" [value]="type.value">
                          {{type.label}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field floatPlaceholder="never">
                    <mat-select [(ngModel)]="chartType" (ngModelChange)="renderChart();">
                        <mat-option *ngFor="let type of chartTypes" [value]="type.value">
                            {{type.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </h4>
        <div class="toolbar"></div>
          <div style="height:330px;text-align:center;" *ngIf="!loading">
              <div style="height:320px;width:100%;" [chart]="chart"></div>
          </div>
          <div *ngIf="loading" style="padding-top:60px;height:330px;">
             <mat-spinner [color]="'warn'" style="margin:auto;"></mat-spinner>
          </div>
    </div>
  </div>

