.pump {
	font-size: 14px;
	height: auto;
	width: 45px;
	position: absolute;
	z-index: 1;
}

.valuePump {
	position: absolute;
	top: 11px;
	left: 13px;
	font-weight: bold;
	font-size: 16px;
	font-family: "Arial", "Arial Bold", Gadget, sans-serif;
	z-index: 1;
}