
<div class="example-container">
<app-form-provisioning-dialog #form (dialogResult)="save($event)">
</app-form-provisioning-dialog>

<div class="loading" *ngIf="loading;else pageView;"></div>
<app-error-handler #error></app-error-handler>
<ng-template #pageView>
    <mat-grid-list cols="4" rowHeight="170px">
        <mat-grid-tile *ngFor="let item of provisionings">
            <app-widget-provisioning style="width:100%;padding: 5px;"
                (action)= action($event)
                [manageObjectId]= item.id
                [label]= item.label
                [type]= item.type
                [command]= item.command
                [address]= item.address>
            </app-widget-provisioning>
        </mat-grid-tile>
      </mat-grid-list>
    <!-- <span class="col-" *ngFor="let item of provisionings">

    </span> -->
</ng-template>
</div>
